/* Contenedor principal de tarjetas */
.contenedor-tarjetas {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-items: center;
  gap: 20px;
  padding: 0 4px;
  padding-top: 10px;
  box-sizing: border-box;
  position: relative; /* Necesario para la animación global */
  overflow: hidden;
  margin-bottom: 70px;
}

/* Skeleton Loader */
.tarjeta-skeleton {
  width: 95%; /* Ocupa todo el ancho disponible */
  height: 320px;
  background: #e8f0e9; /* Verde claro natural */
  border-radius: 12px; /* Esquinas ligeramente más redondeadas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil para profundidad */
  position: relative;
  overflow: hidden; /* Ocultar animación fuera del borde */
  margin: 1rem auto; /* Espaciado uniforme */
}

/* Animación avanzada del skeleton */
.tarjeta-skeleton::after {
  content: '';
  position: absolute;
  top: 0;
  left: -150%; /* Comienza fuera de vista */
  width: 150%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(232, 240, 233, 0) 0%,
    rgba(255, 255, 255, 0.6) 50%, /* Luz sutil */
    rgba(200, 230, 201, 0) 100% /* Verde pastel */
  );
  animation: skeleton-wave 2s infinite;
  transform: skewX(-45deg); /* Inclina las líneas para un efecto dinámico */
}

.no-glampings-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  padding: 20px;
}

.no-glampings-message{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.meme-container {
  text-align: center;
  margin-top: 20px;
}

.meme-imagen {
  width: 150px; /* O cualquier tamaño que desees */
  height: auto;
  border-radius: 8px;
}

/* Keyframes para la animación */
@keyframes skeleton-wave {
  0% {
    left: -150%;
  }
  100% {
    left: 150%;
  }
}

/* Para pantallas pequeñas (móviles) */
@media (max-width: 480px) {
  .contenedor-tarjetas {
    grid-template-columns: 1fr;
    padding: 0;
    gap: 4px;
  }
}

/* Para pantallas medianas (tabletas) */
@media (min-width: 540px) {
  .contenedor-tarjetas {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

/* Para pantallas grandes (computadoras de escritorio) */
@media (min-width: 1366px) {
  .contenedor-tarjetas {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1600px) {
  .contenedor-tarjetas {
    grid-template-columns: repeat(6, 1fr);
  }
}
