/* Estilos generales para el contenedor */
.PerfilUsuarioContenedor {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  /* padding: 20px; */
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

}

/* Estilos para la foto de perfil */
.PerfilUsuarioFoto {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 15px;
}

.PerfilUsuarioFoto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.PerfilUsuarioSinFoto {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  color: #ccc;
  font-size: 14px;
  border-radius: 50%;
  text-transform: uppercase;
}

/* Estilos para el nombre del propietario */
.PerfilUsuarioNombre {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #333;
}

/* Estilos para el campo de texto (textarea) */
.PerfilUsuarioMensajeInput {
  width: 100%;
  max-width: 350px;
  height: 80px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
  font-size: 14px;
  color: #333;
  margin-bottom: 15px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.PerfilUsuarioMensajeInput:focus {
  border-color: #2F6B3E;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.15);
  outline: none;
}

/* Estilos para el botón */
.PerfilUsuarioBoton {
  width: 80%;
  max-width: 350px;
  padding: 10px 20px;
  background-color: #2F6B3E;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.PerfilUsuarioBoton:hover {
  background-color: #4db968;
  transform: translateY(-2px);
}

.PerfilUsuarioBoton:active {
  transform: translateY(0);
}

/* Estilos para pantallas mayores a 600px */
@media screen and (min-width: 601px) {
  .PerfilUsuarioContenedor {
    padding: 20px;
    width: 100%;
  }

  .PerfilUsuarioFoto {
    width: 120px;
    height: 120px;
  }

  .PerfilUsuarioNombre {
    font-size: 18px;
  }

  .PerfilUsuarioMensajeInput {
    height: 90px;
    font-size: 15px;
  }

  .PerfilUsuarioBoton {
    padding: 15px 25px;
    font-size: 16px;
  }
}


/* Estilos responsivos para pantallas pequeñas */

@media screen and (max-width: 600px) {
  .PerfilUsuarioContenedor {
    width: 100%;
    margin-bottom: 130px;
    padding-bottom: 10px;
  }

  .PerfilUsuarioFoto {
    width: 100px;
    height: 100px;
  }

  .PerfilUsuarioNombre {
    font-size: 16px;
  }

  .PerfilUsuarioMensajeInput {
    height: 70px;
    font-size: 13px;
  }

  .PerfilUsuarioBoton {    
    font-size: 14px;
    padding: 12px;
    width: 100%;
  }
}