/* Contenedor con estilo de “modal” inline */
.DescripcionGlampingTexto-contenedor {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  margin: 0 auto;
  position: relative;
  /* padding: 20px; */
}

/* Título */
.DescripcionGlampingTexto-titulo {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 1rem;
}

/* Párrafos de texto */
.DescripcionGlampingTexto-texto p {
  font-size: 16px;
  color: #333;
  line-height: 1.5;
  margin: 0 0 1rem;
}

/* Resalte para términos especiales */
.DescripcionGlampingTexto-highlight {
  font-weight: bold;
  font-size: 1.1em; /* ligeramente mayor */
}

/* Responsive */
@media (max-width: 900px) {
  .DescripcionGlampingTexto-contenedor {
    width: 95%;
    box-shadow: none;
  }
}
