/* styles/globals.css */
body {
  box-sizing: border-box;
  font-family: 'Lato', 'Open Sans', 'Montserrat', 'Pacifico', 'Merriweather', 'sans-serif', 'Playfair Display';
  margin: 0;
  padding: 0;
  background-color: #fefefe;
  color: black;
  -webkit-tap-highlight-color: transparent; /* Evita el resaltado azul en toques m칩viles */
}

/* Evitar la selecci칩n de texto en toda la p치gina */
* {
  user-select: none;
}

/* Evitar el sombreado azul al hacer clic en botones y enlaces */
button, a, input, textarea {
  outline: none;
}

/* Desactivar tooltips autom치ticos en elementos con title */
*[title] {
  pointer-events: none;
}
