/* styles/globals.css */
body {
  box-sizing: border-box;
  font-family: 'Lato','Open Sans','Montserrat','Pacifico','Merriweather',  'sans-serif', 'Playfair Display';
  margin: 0;
  padding: 0;
  background-color: #fefefe;
  -webkit-tap-highlight-color: transparent;
  margin: 0;
}
