.GlampingsPage-container {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.GlampingsPage-menu {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}

@media (max-width: 600px) {
.GlampingsPage-container {
  padding-bottom: 50px;
}
}
