.contenedor-Header{
    position: fixed; /* Fija el Header en la parte superior */
    top: 0; /* Asegura que esté al borde superior */
    left: 0; /* Asegura que esté alineado a la izquierda */
    width: 100%; /* Ocupa todo el ancho de la pantalla */
    z-index: 1000; /* Coloca el Header encima de otros elementos */
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #e6e3df;
    font-family: inherit;
    height: 70px;
    background-color: #ffffff; /* Fondo blanco para cubrir elementos detrás */
  }
  
  /* Estilos generales del Header */
  .Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: inherit;
    flex-wrap: wrap; /* Permite que los elementos se ajusten si el espacio es limitado */
    width: 90%;
    position: relative;
  }
  
  
  /* Logo y nombre de la marca */
  .Header-izquierda {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    cursor: pointer;
  }
  
  .Header-logo {
    width: 40px;
    height: auto;
  }
  
  .Header-nombreMarca {
    font-size: 1.5rem;
    font-weight: bold;
    color: #2F6B3E;
  }
  
  /* Barra de búsqueda */
  .Header-barraBusqueda {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 24px;
    padding: 8px 10px;
    padding-right: 5px;
    gap: 8px;
    max-width: 500px;
    flex-grow: 1;
    margin: 8px 0;
    border: 0.5px solid #d3d3d3;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    height: 40px; /* Mantiene la altura constante */
  }
  
  /* Opciones dentro de la barra de búsqueda */
  .Header-opcionBusqueda {
    color: #2F6B3E;
    font-size: 0.8rem;
    white-space: nowrap;
    font-weight: bold;
  }
  
  
  
  .Header-opcionBusquedaInvitados {
    color: #73706d;
    font-weight: normal;
  }
  
  .Header-opcionCuando {
    color: #2F6B3E;
    font-size: 0.8rem;
    white-space: nowrap;
    font-weight: bold;
  }
  
  .Header-divisor {
    color: #A68A64;
  }
  
  /* Botón de búsqueda */
  .Header-botonBusqueda {
    background-color: #F2A900;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }
  
  
  /* Header derecho (opciones de usuario) */
  .Header-derecha {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  
  .Header-botonAnfitrion {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    color: #333;
    background: none;
    border: none;
    cursor: pointer;
    white-space: nowrap;
    padding: 5px;
    height: 40px;
  }
  
  .Header-botonAnfitrion:hover{
    background-color: #f8f8f8;
    border-radius: 15px;
  }
  
  .Header-icono {
    font-size: 1.2rem;
    color: #555;
  }
  
  .Header-menuUsuario {
    display: flex;
    align-items: center;
    border-radius:50px;
    padding: 7px;
    border: 1px solid #d3d3d3;
    cursor: pointer;
  }
  
  .Header-iconoMenu {
    font-size: 1.5rem;
    color: #555;
    margin-right: 8px;
  }
  
  /* Contenedor circular para el ícono de configuración */
  .Header-iconoSettingsWrapper {
    display: none; /* Oculto en pantallas grandes */
    width: 32px;
    height: 32px;
    border: 1px solid #d3d3d3;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    border-radius:50%;
    padding: 7px;
    cursor: pointer;
  }
  
  .Header-iconoSettings {
    font-size: 1.5rem;
    color: #000000;
  }
  
  .Header-badge {
    position: absolute;
    top: 0;
    right: 6px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  .Header-inicialUsuario {
    width: 35px; 
    height: 35px; 
    border-radius: 50%; 
    background-color:#000000;
    color: #ffffff;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-size: 14px; 
  }
  
  .Header-inicialUsuario-incognito {
    font-size: 24px;
  }
  
  
  .Header-menuUsuarioLista {
    position: absolute; /* Se coloca encima del header */
    top: 70px; 
    right: 0;
    align-items: center;
    border-radius: 50px;
    cursor: pointer;
  }
  
  /* Responsividad */
  
  /* Pantallas pequeñas (máximo ancho: 900px) */
  @media (max-width: 900px) {
    .Header-botonAnfitrion,
    .Header-opcionCuando,
    .Header-opcionCuando + .Header-divisor,
    .Header-derecha > .Header-iconoGlobo,
    .Header-opcionBusqueda:not(:first-child),
    .Header-divisor:not(:first-child),
    .Header-notificacion,
    .Header-inicialUsuario{
      display: none;
    }
    
    .Header-barraBusqueda {
      flex-grow: 1;
      justify-content: space-around;
      max-width: 100%; /* Barra de búsqueda ocupa todo el ancho */
      flex-direction: row-reverse; /* Invierte la disposición de los elementos */
      height: 40px; /* Mantiene la altura constante */
      position: relative; /* Asegura que los hijos se posicionen correctamente */
      margin-left: 80px;
    }
  
    .Header-botonBusqueda {
      position: absolute; /* Fija el botón dentro del contenedor */
      left: 5px; /* Margen izquierdo */
      margin-right: 10px;
      top: 50%; /* Centra verticalmente */
      transform: translateY(-50%); /* Ajusta el centrado vertical */
      z-index: 10; /* Asegura que quede encima de otros elementos */
    }
  
    .Header-iconoMenu {
      display: none; /* Oculta el ícono del menú */
    }
  
    .Header-iconoSettingsWrapper {
      display: flex; /* Muestra el ícono de configuración */
      margin-right: 5px;
    }
  
    .Header-opcionBusqueda {
      font-size: 0.9rem;
    }
  
    .Header-derecha {
      flex-grow: 1;
      width: 1%;
      justify-content: flex-end;
    }
    .Header-menuUsuario {
      padding: 0;
      border: none;
    }
  }
  
  /* Pantallas medianas (entre 540px y 900px) */
  @media (min-width: 540px) and (max-width: 900px) {
    
    .Header-izquierda {
      display: flex; /* Muestra el logo */
    }
  
    .Header-barraBusqueda {
      margin-left: 20px;
      min-width: 35%;
      height: 40px; 
    }
    .Header-menuUsuario {
      padding: 0;
      border: none;
    }
  }
  
  /* Pantallas muy pequeñas (menores a 540px) */
  @media (max-width: 540px) {
    .Header{
      width: 100%;
    }
  
    .Header-izquierda {
      display: none; /* Oculta todo el contenedor izquierdo */
    }
  
    .Header-barraBusqueda {
      min-width: 80%;
      margin-left: 10px;
      height: 40px; /* Mantiene la altura constante */
    }
    .Header-menuUsuario {
      padding: 0;
      border: none;
    }
  }
  
  /* Pantallas muy pequeñas (menores a 400px) */
  @media (max-width: 400px) {


    .Header{
      width: 100%;
    }
  
    .Header-izquierda {
      display: none; /* Oculta todo el contenedor izquierdo */
    }
  
    .Header-barraBusqueda {
      max-width: 80%;
      min-width: 250px;
      margin:0;
      margin-left: 10px;
      height: 40px;
      /* padding: 0; */
    }
  
    .Header-opcionBusqueda {
      margin-left: 10px;
    }
    .Header-menuUsuario {
      padding: 0;
      border: none;
    }
  }
  