* {
    margin: 0;
    padding: 0;
}

.Medellin-principal {
    width: 90%;
    margin: 0 auto;
    margin-top: 150px; /* Espacio igual a la altura del Header */
    position: relative;
}

/* 🔹 Ocultar H1 y descripción de la página */
.Medellin-titulo-principal,
.Medellin-descripcion {
    display: none;
}

/* 🔹 Responsive - Pantallas pequeñas (móviles) */
@media (max-width: 479px) {
    .Medellin-principal {
        width: 97%; /* Ancho del 97% en pantallas pequeñas */
    }
}

/* 🔹 Responsive - Pantallas medianas (tabletas) */
@media (min-width: 480px) and (max-width: 540px) {
    .Medellin-principal {
        width: 97%; /* Ancho del 97% en pantallas medianas */
    }
}
