/*** Contenedor ***/
.contenedor {
  position: absolute;
  top: 0px;
  right: 12px;
  z-index: 50;
  opacity: 0.6;
  transition: opacity 0.2s ease;
}

.contenedor:hover {
  opacity: 1;
}

/*** Botón Principal ***/
.botonPrincipal {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px 12px;
  background: var(--color-background-primary, white);
  border: 0.5px solid var(--color-border-primary, #ccc);
  border-radius: 999px;
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  color: var(--color-text-primary);
  white-space: nowrap;
}

/*** Menú desplegable ***/
.menuDesplegable {
  position: absolute;
  top: calc(100% + 6px);
  right: 0;
  background: var(--color-background-primary, rgb(255, 255, 255));
  border: 0.5px solid var(--color-border-tertiary, #e5e7eb);
  border-radius: 12px;
  overflow: hidden;
  min-width: 140px;
  z-index: 50;
}

/*** Boton de listado ***/
.botonListado {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 14px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 13px;
  text-align: left;
  /* fontWeight: i===current ? 500 : 400, */
  /* color: i===current ? var(--color-text-primary) : var(--color-text-secondary), */
}

/*** Indicador de botones del listado ***/
.indicadorBotonListado {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  flex-shrink: 0;
}

/*** Linea separadora de listado ***/
.lineaSeparadora {
  height: 0.5px;
  background: var(--color-border-tertiary, #f0f0f0);
  margin: 2px 0;
}