.MenuIconos-contenedor {
    position: fixed;
    top: 70px;
    left: 0;
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: white;
    z-index: 999;
  }
  
  .MenuIconos-contenedor-menuConIcono {
    display: flex;
    align-items: center;
    width: 90%;
    height: 100%;
    gap: 5px;
  }
  
  .MenuIconos-contenedor-menu {
    flex-grow: 1; /* Ocupa el espacio restante */
    display: flex;
    align-items: center;
    height: 100%;
    min-width: 0; /* Evita que el contenido desborde */
  }
  
  .MenuIconos-lista-iconos {
    height: 100%;
    display: flex;
    align-items: center;
    overflow-x: auto; /* Habilita el scroll horizontal */
    white-space: nowrap;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch; /* Suaviza el scroll en dispositivos táctiles */
  
  }
  
  .MenuIconos-lista-iconos::-webkit-scrollbar {
    display: none; /* Ocultar la barra de desplazamiento */
  }
  
  .MenuIconos-lista-iconos span {
    line-height: 1.5; /* Ajusta según sea necesario */
  }
  
  .MenuIconos-icono-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 15px;
    color: #333;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
  }
  
  .MenuIconos-icono-item .MenuIconos-icono {
    font-size: 24px;
    margin-bottom: 5px;
  }
  
  .MenuIconos-icono-item:hover {
    transform: scale(1.1);
  }
  
  .MenuIconos-icono-seleccionado {
    color: #2F6B3E;
    font-weight: bold;
    transform: scale(1.1);
  }
  
  
  .MenuIconos-flecha-izquierda,
  .MenuIconos-flecha-derecha {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.6);
    background-color: white;
    border: none;
    cursor: pointer;
    padding: 4px;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    transition: transform 0.3s ease;
    z-index: 1;
  }
  
  .MenuIconos-flecha-izquierda {
    margin-right: 10px;
  }
  
  .MenuIconos-flecha-derecha {
    margin-left: 10px;
  }
  
  .MenuIconos-flecha-izquierda:hover,
  .MenuIconos-flecha-derecha:hover {
    transform: scale(1.2);
  }
  
  .MenuIconos-settings {
    font-size: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    padding: 10px;
    border: 1px solid #ddd;
    width: auto;
    position: relative; /* Necesario para el badge */
  }
  
  .MenuIconos-settings:hover  {
    border: 1px solid rgb(0, 0, 0);
    background-color: #f8f8f8;
  }
  
  .MenuIconos-settings span {
    font-size: 16px;
  }
  
  /* Círculo con el número 2 sobre el ícono de configuración */
  .MenuIconos-settings-icono {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .MenuIconos-badge {
    position: absolute;
    top: -5px;  /* Posición vertical del círculo (ajústalo si es necesario) */
    right: -5px;  /* Posición horizontal del círculo (ajústalo si es necesario) */
    width: 18px;  /* Tamaño del círculo */
    height: 18px;  /* Tamaño del círculo */
    background-color: red;  /* Color de fondo del círculo */
    color: white;  /* Color del texto (número) */
    border-radius: 50%;  /* Forma redonda */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;  /* Tamaño del número */
    font-weight: bold;
  }
  
  @media (max-width: 540px) {
    .MenuIconos-flecha-izquierda,
    .MenuIconos-flecha-derecha {
      display: none;
    }
    .MenuIconos-contenedor-menu {
      width: 100%;
    }
  }
  
  @media (max-width: 900px) {
    .MenuIconos-settings {
      display: none;
    }
  
    .MenuIconos-contenedor-menu {
      width: 100%;
    }
  }
  