/* estilos.css */
.Registro-contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to right, #07a852, #64bb1c);
    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 20px;
}

.Registro-box {
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
}

.Registro-titulo {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}

.Registro-descripcion {
    font-size: 16px;
    margin-bottom: 20px;
    color: #f0f0f0;
}

